.form-container {
    margin: 50px auto;
    max-width: 640px;
}
input.btn.btn-primary {
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 23px;
}
input.form-control {
    font-size: 16px;
}
.form-container .alert-danger {
    color: #ff0018;
    background-color: transparent;
    border-color: transparent;
    font-size: 12px;
}